
@{
    ViewData["Title"] = "Menu";
}

<h1 class="mb-4 text-center" style="text-shadow: 4px 4px 8px #CC9E09;">OUR MENU</h1>
<h3>Breakfast</h3>
<div class="row menulist">
    <div class="col-md-4">
        <img src="../images/avocado-toast.png" class="d-block w-100 rounded" alt="Avocado Toast">
        <br/>
        <p><strong>Avocado Toast</strong></p>
        <p>$12.50</p>
    </div>
    <div class="col-md-4">
        <img src="../images/pancakes-with-maple-syrup.png" class="d-block w-100 rounded" alt="Pancakes with Maple Syrup">
        <br/>
        <p><strong>Pancakes with Maple Syrup</strong></p>
        <p>$14.00</p>
    </div>
    <div class="col-md-4">
        <img src="../images/apple-and-almond-pancakes.png" class="d-block w-100 rounded" alt="Apple and Almond Pancakes">
        <br />
        <p><strong>Apple and Almond Pancakes</strong></p>
        <p>$18.00</p>
    </div>
    <div class="col-md-4">
        <img src="../images/egg-and-avocado-flipover.jpg" class="d-block w-100 rounded" alt="Egg and Avocado Flipover">
        <br />
        <p><strong>Egg and Avocado Flipover</strong></p>
        <p>$12.90</p>
    </div>
    <div class="col-md-4">
        <img src="../images/french-toast.jpg" class="d-block w-100 rounded" alt="French Toast">
        <br />
        <p><strong>French Toast</strong></p>
        <p>$8.50</p>
    </div>
    <div class="col-md-4">
        <img src="../images/waffles.jpg" class="d-block w-100 rounded" alt="Waffles">
        <br />
        <p><strong>Waffles</strong></p>
        <p>$10.90</p>
    </div>
</div>
<br/>
<h3>Lunch</h3>
<div class="row menulist">
    <div class="col-md-4">
        <img src="../images/caesar-salad.png" class="d-block w-100 rounded" alt="Caesar Salad">
        <br />
        <p><strong>Caesar Salad</strong></p>
        <p>$18.00</p>
    </div>
    <div class="col-md-4">
        <img src="../images/grilled-chicken-wrap.png" class="d-block w-100 rounded" alt="Grilled Chicken Wrap">
        <br />
        <p><strong>Grilled Chicken Wrap</strong></p>
        <p>$12.90</p>
    </div>
    <div class="col-md-4">
        <img src="../images/supreme-pizza.jpg" class="d-block w-100 rounded" style="height: 292px;" alt="Supreme Pizza">
        <br />
        <p><strong>Supreme Pizza</strong></p>
        <p>$17.50</p>
    </div>
    <div class="col-md-4">
        <img src="../images/roast-pork-with-veggies-and-gravy.jpg" class="d-block w-100 rounded" alt="Roast Pork with Veggies and Gravy">
        <br />
        <p><strong>Roast Pork with Veggies and Gravy</strong></p>
        <p>$19.00</p>
    </div>
    <div class="col-md-4">
        <img src="../images/fish-tacos.jpg" class="d-block w-100 rounded" alt="Fish Tacos">
        <br />
        <p><strong>Fish Tacos</strong></p>
        <p>$15.50</p>
    </div>
    <div class="col-md-4">
        <img src="../images/beef-burger.jpg" class="d-block w-100 rounded" alt="Beef Burger">
        <br />
        <p><strong>Beef Burger</strong></p>
        <p>$12.90</p>
    </div>
</div>
<br/>
<h3>Dinner</h3>
<div class="row menulist">
    <div class="col-md-4">
        <img src="../images/spaghetti-carbonara.png" class="d-block w-100 rounded" alt="Spaghetti Carbonara">
        <br />
        <p><strong>Spaghetti Carbonara</strong></p>
        <p>$22.50</p>
    </div>
    <div class="col-md-4">
        <img src="../images/steak-with-garlic-butter.png" class="d-block w-100 rounded" alt="Steak with Garlic Butter">
        <br />
        <p><strong>Steak with Garlic Butter</strong></p>
        <p>$29.90</p>
    </div>
    <div class="col-md-4">
        <img src="../images/moroccan-lamb-shanks.jpg" class="d-block w-100 rounded" alt="Moroccan Lamb Shanks">
        <br />
        <p><strong>Moroccan Lamb Shanks</strong></p>
        <p>$17.50</p>
    </div>
    <div class="col-md-4">
        <img src="../images/prime-rib-au-jus.jpg" class="d-block w-100 rounded" alt="Prime Rib Au Jus">
        <br />
        <p><strong>Prime Rib Au Jus</strong></p>
        <p>$19.00</p>
    </div>
    <div class="col-md-4">
        <img src="../images/coq-au-vin.jpg" class="d-block w-100 rounded" alt="Classic French Coq Au Vin">
        <br />
        <p><strong>Classic French Coq Au Vin</strong></p>
        <p>$20.50</p>
    </div>
    <div class="col-md-4">
        <img src="../images/seafood-paella.jpeg" class="d-block w-100 rounded" alt="Seafood Paella">
        <br />
        <p><strong>Beef Burger</strong></p>
        <p>$18.90</p>
    </div>
</div>
<br/>
<div class="menu-list row mb-4 d-flex justify-content-center">
    <div class="col-md-4 text-center">
        <h3>Coffee</h3>
        <div class="row">
            <div class="d-flex justify-content-between w-100">
                <p>Espresso / Piccolo</p>
                <p>$3.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Flat White</p>
                <p>$4.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Cappucino</p>
                <p>$4.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Long Black</p>
                <p>$4.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Chai Latte</p>
                <p>$4.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Mocha</p>
                <p>$4.50</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <h3>Tea</h3>
        <div class="row">
            <div class="d-flex justify-content-between w-100">
                <p>English Breakfast</p>
                <p>$4.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Green</p>
                <p>$3.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Lemon Ginger</p>
                <p>$3.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Peppermint</p>
                <p>$3.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Earl Grey</p>
                <p>$4.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Oolong</p>
                <p>$5.00</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <h3>Beverages</h3>
        <div class="row">
            <div class="d-flex justify-content-between w-100">
                <p>Coke</p>
                <p>$3.00</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Lemonade</p>
                <p>$3.00</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Lemon Lime Bitters</p>
                <p>$3.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Fresh Juice</p>
                <p>$4.50</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Milkshakes</p>
                <p>6.00</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>Kombucha</p>
                <p>$5.00</p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center my-4">
    <button class="btn btn-lg btn-primary mb-4" onclick="downloadMenu()">Download Menu</button>
</div>

<script>
    function downloadMenu() {
        alert("Menu download initiated!");
        // Add logic to download the menu here
    }
</script>
